#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        LEFTHALF {
            bindings = <&none>;
            key-positions = <34 35 18>;
        };
    };

    macros {
        Ctrl_opt_left: Ctrl_opt_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp LCTRL &kp LALT &kp LEFT_ARROW>;

            label = "CTRL_OPT_LEFT";
        };

        ctrl_opt_enter: ctrl_opt_enter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp LCTRL &kp LALT &kp ENTER>;

            label = "CTRL_OPT_ENTER";
        };

        ctrl_opt_right: ctrl_opt_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp LCTRL &kp LALT &kp RIGHT>;

            label = "CTRL_OPT_RIGHT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W         &kp E             &kp R           &kp T                                          &kp Y      &kp U    &kp I      &kp O    &kp P
&kp A      &kp S         &kp D             &lt 3 F         &lt 4 G         &kp F7          &kp F10        &lt 4 H    &lt 3 J  &kp K      &kp L    &kp MINUS
&kp Z      &kp X         &kp C             &lt 2 V         &lt 1 B         &kp DELETE      &kp BACKSPACE  &kp N      &kp M    &kp COMMA  &kp DOT  &kp ENTER
&kp LCTRL  &kp LEFT_ALT  &kp LEFT_COMMAND  &kp LEFT_SHIFT  &kp LANGUAGE_2  &kp SPACE       &kp SPACE      &kp LANG1                               &lt 5 ESCAPE
            >;
        };

        MOUSE {
            bindings = <
&trans     &trans        &trans            &trans          &trans                      &trans  &trans    &trans    &trans    &trans
&trans     &trans        &trans            &trans          &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans     &trans        &trans            &trans          &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&kp LCTRL  &kp LEFT_ALT  &kp LEFT_COMMAND  &kp LEFT_SHIFT  &trans  &trans      &trans  &mo 3                                 &trans
            >;
        };

        SCROLL {
            bindings = <
&kp ESCAPE  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans      &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&kp F12     &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&kp F12     &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        ARROW {
            bindings = <
&none      &none      &none      &none      &none                                 &trans  &none           &kp UP_ARROW     &none            &none
&kp LG(A)  &kp LG(Z)  &kp LG(X)  &kp LG(C)  &kp LG(V)  &kp LG(LC(V))      &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW   &kp RIGHT_ARROW  &none
&kp LC(L)  &kp LC(T)  &kp LC(H)  &kp LC(R)  &none      &kp LC(LG(B))      &trans  &trans  &Ctrl_opt_left  &ctrl_opt_enter  &ctrl_opt_right  &none
&none      &kp LC(B)  &kp LC(V)  &none      &trans     &trans             &trans  &trans                                                    &trans
            >;
        };

        NUM {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                      &kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp HASH              &kp DOLLAR             &kp LS(N5)
&kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &none       &trans  &kp LS(N7)       &kp SINGLE_QUOTE   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none
&none         &none         &none         &none         &none         &trans      &trans  &kp SLASH        &kp QUESTION       &kp UNDERSCORE        &kp LS(LBKT)           &kp LS(RBKT)
&trans        &trans        &trans        &trans        &trans        &trans      &trans  &none                                                                            &trans
            >;
        };

        FUNCTION {
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &kp F1  &kp F2  &kp F3  &kp F4  &kp F5
&trans  &trans  &trans  &trans  &trans  &trans      &kp F13  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans  &trans  &trans  &trans  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans                          &kp F12
            >;
        };

        layer_6 {
            bindings = <
&kp LG(Q)      &kp LC(W)  &trans     &trans     &trans                         &bt BT_PRV  &bt BT_NXT  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&kp LG(LS(Z))  &trans     &kp LC(C)  &trans     &trans  &trans         &trans  &trans      &trans      &trans        &trans        &trans
&kp LG(Z)      &kp LG(X)  &kp LG(C)  &kp LG(V)  &trans  &kp SPACE      &trans  &trans      &trans      &trans        &trans        &trans
&trans         &trans     &trans     &trans     &trans  &trans         &trans  &trans                                              &trans
            >;
        };
    };
};
